################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/news-scrapper/news-scrapper.api/bin
/news-scrapper/.vs
/news-scrapper/news-scrapper.api/obj
/news-scrapper/news-scrapper.api/news-scrapper.api.csproj.user
/news-scrapper/news-scrapper.domain/obj
/news-scrapper/news-scrapper.domain/bin
/news-scrapper/news-scrapper.application/obj
/news-scrapper/news-scrapper.application/bin
/news-scrapper/news-scrapper.infrastructure/obj
/news-scrapper/news-scrapper.infrastructure/bin
